<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;x-gif&gt;</title>
    <script src="lib/etc/detect-webcomponents-support.js" inline></script>
    <link rel="stylesheet" href="vendor/foundation.min.css">
    <link rel="stylesheet" href="lib/etc/demo-page-styling.css" inline>
  </head>
  
  <body ng-app="x-gif-demo" ng-controller="DemoCtrl">
    <div class="row">
      <div class="column medium-9 medium-centered large-8">
        <header>
          <h1>&lt;x-gif&gt;</h1>
          <h4>The GIF tag the internet deserves</h4>
          <h6><a href="https://github.com/geelen/x-gif" target="_blank">View source on GitHub</a></h6>
        </header>
        <hr>
        <dl class="sub-nav">
          <dt>Examples:</dt>
          <dd ng-repeat="url in gifs" ng-class="{active: gif.url == url}"><a ng-href="#{{ url }}"> {{ $index + 1 }}</a></dd>
        </dl>
        <label>Or choose your own. Be sure to choose a server with permissive CORS headers, e.g. imgur
          <input type="text" ng-model="gif.url">
        </label>
        <h3>Normal playback</h3>
        <p class="small">Something not look right?<a href="https://github.com/geelen/x-gif/issues" target="_blank"> Post an issue on GitHub</a> with the URL of the image</p>
        <figure>
          <x-gif ng-src="{{ trustedUrl() }}"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot;&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
        </figure>
        <h3>Ping-pong</h3>
        <figure>
          <x-gif ng-src="{{ trustedUrl() }}" ping-pong="ping-pong"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; ping-pong&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
        </figure>
        <h3>N-times</h3>
        <button ng-click="nTimesRestart()" type="button" style="padding: 0.8em;" class="button tiny radius">Restart</button>
        <input type="range" min="0.1" max="3.0" step="0.1" ng-model="gif.nTimes">{{ gif.nTimes }}
        <figure>
          <x-gif id="nTimes" ng-src="{{ trustedUrl() }}" n-times="{{ gif.nTimes }}"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; n-times=&quot;{{ gif.nTimes }}&quot;{{ nTimesIsStopped() }}&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
        </figure>
        <h3>Speed</h3>
        <figure>
          <label>
            <input type="range" min="0.1" max="5" step="0.1" ng-model="gif.speed">{{ gif.speed }}
          </label>
          <x-gif ng-src="{{ trustedUrl() }}" speed="{{ gif.speed }}"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; speed=&quot;{{ gif.speed }}&quot;&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
        </figure>
        <h3>BPM</h3>
        <figure>
          <label>
            <input type="range" min="30" max="240" step="1" ng-model="gif.bpm">{{ gif.bpm }}
          </label>
          <x-gif ng-src="{{ trustedUrl() }}" bpm="{{ gif.bpm }}"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; bpm=&quot;{{ gif.bpm }}&quot;&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
          <x-gif ng-src="{{ trustedUrl() }}" bpm="{{ gif.bpm }}" snap="snap"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; bpm=&quot;{{ gif.bpm }}&quot; snap&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
        </figure>
        <h3>Synced to Audio</h3>
        <figure>
          <div ng-show="gif.metadata">
            <audio controls="controls" preload="preload">
              <source src="vendor/encom_part_ii.ogg" type="audio/ogg">
              <source src="vendor/encom_part_ii.mp3" type="audio/mpeg">
            </audio>
            <p>Playback speed: {{ gif.playbackRate | number:1 }}<a href="href" ng-click="changeSpeed(0.1)">+</a><a href="href" ng-click="changeSpeed(-0.1)">-</a></p>
          </div>
          <div ng-hide="gif.metadata">Loading beat data...</div>
          <x-gif ng-src="{{ trustedUrl() }}" sync="sync" class="x-gif-synced-demo"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; synced&gt;&lt;/x-gif&gt;</pre>
          </figcaption>
          <x-gif ng-src="{{ trustedUrl() }}" sync="sync" snap="snap" class="x-gif-synced-demo"></x-gif>
          <figcaption>
            <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; synced snap&gt;&lt;/x-gif&gt;</pre>
            <p>Audio: Encom Part II by Daft Punk. CC0 1.0 Universal.<br>Source: <a href="https://archive.org/details/DaftPunkTronLegacyEncomPartIi" target="_blank">Archive.org</a><br>Beat metadata provided by <a href="http://echonest.com/">Echo Nest</a>
            </p>
            <h5><a href="demos/audio.html">See a full screen demo</a></h5>
          </figcaption>
        </figure>
        <h3>Stop-start</h3>
        <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; stopped&gt;&lt;/x-gif&gt;</pre>
        <h5><a href="demos/stoppable.html">See demo</a></h5>
        <h3>Exploded</h3>
        <pre>&lt;x-gif src=&quot;{{ trustedUrl() }}&quot; exploded&gt;&lt;/x-gif&gt;</pre>
        <p>Explode the gif into its component frames (handy for debugging)</p>
        <h5><a href="demos/exploded.html">See demo</a></h5>
        <hr>
        <footer>
          <h5>Made with &lt;3 by</h5><a target="_blank" href="https://twitter.com/glenmaddern"><img src="http://i.imgur.com/x577Tga.jpg" alt="" class="me"><br>@glenmaddern</a>
        </footer>
      </div>
    </div>

    <!-- build:js -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('lib/x-gif')
    </script>
    <!-- endbuild -->

    <script src="lib/etc/synched_playback.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="lib/etc/angular-controls.js" inline></script>
    <script src="lib/etc/google-analytics-snippet.js" inline></script>
  </body>
</html>
